h1 { 
color:rgb(78, 58, 58)
}
#Esportes {
    color: rgb(4, 129, 58);
} 
#Economia {
    color:rgb(165, 136, 5)
}
#Entretenimento {
    color: rgb(4, 117, 121);
}
#Tecnologia {
    color: rgb(17, 3, 107);
}
